colorlog==6.7.0
py-cord==2.4.1
lavalink==4.0.6
pycord-paging==1.0.0
psutil==5.9.5
python-dotenv==1.0.0
spotipy==2.23.0
yt_dlp==2023.3.4

from Poe import PoeClient

                self.poe = PoeClient(
            "FfeMrboS3SNgmI69DB5O5g%3D%3D", "c3927bd245fe72be54e5126ff689c6aa"
        )