colorlog
py-cord
git+https://github.com/Nat1anWasTaken/Lavalink.py.git
psutil
python-dotenv
spotipy
yt_dlp
PyNaCl
aiohttp
imageio==2.34.2
syncedlyrics==1.0.0
pylrc==0.1.2
requests==2.32.3
beautifulsoup4==4.12.3